adf/pipeline/PL_Copy_Loop.json
{
	"name": "PL_Copy_Loop",
	"properties": {
		"activities": [
			{
				"name": "EnumerateContainersList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS2_LANDING_Parameter_YYJ",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.SourceFileDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachContainer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EnumerateContainersList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('EnumerateContainersList').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CopyOneContainer",
							"description": "Copy each container from source storage store to destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "YYJ_LandingDL",
											"type": "LinkedServiceReference"
										}
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS2_LANDING_Parameter_YYJ",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS2_RAW_YYJ",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFileFolder": {
				"type": "string",
				"defaultValue": "/"
			},
			"SourceFileDirectory": {
				"type": "string",
				"defaultValue": "/"
			},
			"DestinationFileFolder": {
				"type": "string",
				"defaultValue": "/"
			},
			"DestinationFileDirectory": {
				"type": "string",
				"defaultValue": "/"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-12-04T08:54:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}